.titleHead{
   text-align: center;
   background-image: url(img/full.jpg);
   height: 30vh;
}
.container1{
    display: flex;
    width: 75%;
    padding: 10px;
    justify-content: space-between;
    margin: 5px;

}
.container1 p{
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif;
}
.container1 img{
    position: relative;
    width: 150%;
    left: 150px;
    bottom: 30px;
}
.h1-center{
    position: relative;
    left: 350px;
}