
.container{
    width: 100%;
    border-top: 20px;
    padding: 50px;
}
.container h2{
    margin-left: 400px;
    padding: 20px;
    border: 1px solid black;
    width: 40%;
    text-align: center;
    justify-content: center;
    background-color:lightskyblue;
}
img{
    background-color:white;
    width: 100%;
    margin-right: 450px;
    padding: 40px;    
}
.img{
    background-image: url("OIP.jpg");
    height: 100%;
}
.clippers{
    width: 20rem;
}
.shower{
    width: 30rem;
}
.full{
    width: 25rem;
}
.navTab{
	margin:0 3rem 0 0;
	padding: 0;
    list-style:none;
	display:flex;
	flex:1 0 0%;
    justify-content: space-between; 
}
.navTab a{
    display:block;
	padding:5px 10px;
    font-size: 24px;
}
.nails-info{
    font-size: 20px;
}
.shower-info{
    font-size: 20px;
}
.instruction{
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
}
.shower-service{
    margin-left: 180px;
}
